﻿@model IDoku.Models.LiteraturViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erkenntnistheoretische Texte</title>

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Telerik/kendo.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Telerik/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/Telerik/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Content/Telerik/kendo.default.mobile.min.css" />

    <style>
        html,body {
        height:100%;
        margin:0;
        padding:0
        }

        
        .leftPanel  
        {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 40%;
            z-index: 9999;
        }

        #statusbar {
            position: fixed;
            z-index: 100; 
            bottom: 0; 
            left: 0;
            width: 100%;
            background:#999;
        }

    </style>

    <script src="~/Scripts/Telerik/jquery.min.js"></script>
    <script src="~/Scripts/Telerik/kendo.all.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/node_modules/jquery.scrollto/jquery.scrollTo.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#literaturFrame').on('click', function (evt) {
                var element = evt.target;
                var nextA = $(element).find('a:first');
                var id = $(nextA).attr('name');
                
                var linkItem = $('#' + id).next('div:first');
                if (linkItem.length == 0) {
                    $('#statusbar').html('');
                    
                }
                else {
                    $('#statusbar').html('Found: ' + linkItem.html());

                    $('#refPanel').animate({
                        scrollTop: linkItem.offset().top - $('#refPanel').offset().top + $('#refPanel').scrollTop()
                    });
                }
                
            })

            var url = "@(Url.Action("GetTreeConfig", "iDoku", new { id = Model.IdLiteratur }))";

            jQuery.getJSON(url, function (data) {

                var schema = data.dataSource.schema;
                var url = data.dataSource.transport.read.url;
                jQuery.getJSON(url, function (data1) {
                    var dataSource = new kendo.data.HierarchicalDataSource({
                        data: data1.data,
                        schema: schema
                    });

                    $('#literaturTree').kendoTreeView({
                        dataSource: dataSource,
                        dataTextField: 'NodeName',
                        check: function (e) {

                        },
                        select: function (e) {
                            var uId = $(e.node).attr('data-uid');
                            var data = $('#literaturTree').data('kendoTreeView').dataItem(e.node);

                            var nodeId = data.NodeId;

                            $('#literaturFrame').load('https://www.omodules.de/iDoku/iDoku/Index/' + nodeId + "/True");
                            

                        }
                    });

                    var tree = $("#literaturTree").data("kendoTreeView")
                    tree.expand(".k-item");

                    var first_item = $("#literaturTree").find(".k-first");
                    $("#literaturTree").data("kendoTreeView").select(first_item);
                    var data = $('#literaturTree').data('kendoTreeView').dataItem(first_item);

                    var nodeId = data.NodeId;

                    $('#literaturFrame').load('https://www.omodules.de/iDoku/iDoku/Index/' + nodeId + "/True");
                    
                });


            })

            $('.slide-button-left').click(function () {


                toggleKapitelPanel();

            });

            toggleKapitelPanel();
        });

        function toggleKapitelPanel() {
            var width = $('.leftPanel').css('width');
            if (width == '50px') {
                $('.leftPanel').css('width', '40%');
                $('.leftPanel').find('.panel-title').show();
                $('.leftPanel').find('.panel-body').show();

            } else {
                $('.leftPanel').css('width', '50');
                $('.leftPanel').find('.panel-title').hide();
                $('.leftPanel').find('.panel-body').hide();
            }
        }        
        $(window).scroll(function () {
            $(".leftPanel").stop().animate({ "marginTop": ($(window).scrollTop()) + "px", "marginLeft": ($(window).scrollLeft()) + "px" }, "slow");
        });

    </script>
</head>
<body>
    <div> 
        <div class="leftPanel noprint">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default btn-xs pull-left slide-button-left"><></button>
                    <h3 class="panel-title"> Kapitel</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div id="literaturTree">

                    </div>
                </div>

            </div>
        </div>
        
    </div>
    <div id="literaturFrame"></div>
    <div id="statusbar"></div>
</body>
</html>
