﻿@model IDoku.Models.IDokuViewModel

@{
    Layout = null;
}

@{
    ViewBag.Title = "Index";
}

@if (Model.LoadScript) {
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Telerik/kendo.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Telerik/kendo.common.min.css" />
<link rel="stylesheet" href="~/Content/Telerik/kendo.default.min.css" />
<link rel="stylesheet" href="~/Content/Telerik/kendo.default.mobile.min.css" />
}
<style type="text/css">
    .jqx-layout-group-auto-hide-content-vertical {
        width: 200px;
    }

    html,body {
        height:100%;
        margin:0;
        padding:0
    }

    body {
        background: url(/iDoku/Images/iStock-529671712.jpg) no-repeat center top fixed;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: cover;
    }

    /*Container, container body, iframe*/
    .mce-tinymce, .mce-container-body, #code_ifr {
        min-height: 95% !important;
    }

    #mceu_58 {
        min-height: unset !important
    }

    /*Container body*/
    .mce-container-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    /*Editing area */
    .mce-container-body .mce-edit-area {
        position: absolute;
        top: 69px;
        bottom: 37px;
        left: 0;
        right: 0;
    }
    /*Footer*/
    .mce-tinymce .mce-statusbar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    .closeButton {
        position:absolute;
        top:5px;
        right:5px;
        width:18px;
        height:18px;
        font-size:8px;
    }

    .sideBarItem {
        width:100%
    }

    .panel-default {
        background-color:#131314;
        margin: 5px;
        margin-top:35px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @@media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    .padding1 {
        padding:15px
    }

    .A4 {
      background: white;
      width: 21cm;
      /*height: 29.7cm;*/
      display: block;
      margin: 0 auto;
      padding: 10px 25px;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
      overflow: hidden;
      box-sizing: border-box;
      font-size: 12pt;
    }

    /*@@media print {
      .page-break {
        display: block;
        page-break-before: always;
      }
      size: A4 portrait;
    }

   */

    @@media print {
      body {
        margin: 0;
        padding: 0;
      }
      /*.A4 {
        box-shadow: none;
        margin: 0;
        width: auto;
        height: auto;
      }*/
      .noprint {
        display: none;
      }
      .enable-print {
        display: block;
      }
    }

    .topPanel  
    {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40%;
        z-index: 9999;
    }


    /* Get Rid Of The Actual Checkbox */
    input[type=radio],
    input[type=checkbox]{
       position: absolute;
       display:none;
       visibility:hidden;
    }

    /* A Little Non-Selectable Magic */
    label,
    div.checkbox {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Default, Non Checked State */
    div.checkbox {
       display: inline-block;
       background:green;
       color: #FFF;
    }

    /* Checkbox Toggled Hack with Checked State as our Background Position */
    input[type=radio]:checked ~ div.radio,
    input[type=checkbox]:checked ~ div.checkbox{
       background-position: -14px 0px;
       background:orange;
       color: #000;
    }

    .glyphicon-resize-small,
    .glyphicon-resize-full {
        color:white
    }

    .filterLabel {
        margin-left:8px;
        background:yellow;
    }

    .countLabel {
        margin-left: 8px;
        margin-right: 8px;
    }

    /* CSS used here will be applied after bootstrap.css */
    .placeholder {
        border: 1px solid green;
        background-color: white;
        -webkit-box-shadow: 0px 0px 10px #888;
        -moz-box-shadow: 0px 0px 10px #888;
        box-shadow: 0px 0px 10px #888;
    }

    .btn-xs {
        margin-right:20px;
    }
        .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    img {
        display: block;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    
    figcaption {
        text-align: center !important;
        font-style: italic !important;
        background-color: #d3d3d3  !important;
    }
        
    .refLink:hover{
        color: darkblue
    }
    .refLink i:hover{
        color: darkblue
    }
    .refLink i before:hover{
        color: darkblue
    }
    .refLink {
        color:white;
    }

   
</style>
@if (Model.LoadScript)
{
<script src="~/Scripts/Telerik/jquery.min.js"></script>
<script src="~/Scripts/Telerik/kendo.all.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
}
<script>
    var meta = document.createElement('meta');
    meta.name = 'robots';
    meta.content = "";
    document.getElementsByTagName('head')[0].appendChild(meta);

    var toLoad = [];
    var lastSelection;
    var idHtmlDocument;
    var refPanelHeadHeight;
    $(document).ready(function () {

        function toggleRefPanel() {
            var width = $('.topPanel').css('width');
            if (width == '80px') {
                $('.topPanel').css('width', '40%');
                $('.topPanel').find('.panel-title').show();
                $('.topPanel').find('.panel-body').show();

            } else {
                $('.topPanel').css('width', '80');
                $('.topPanel').find('.panel-title').hide();
                $('.topPanel').find('.panel-body').hide();
            }
        }
        $('.slide-button').click(function () {

            toggleRefPanel();
            

        });
        jQuery.getJSON("/iDoku/iDoku/GetHtml/@(Model.IdRef)", function (data) {
            idHtmlDocument = data.ID_Object;
            //document.title = data.Name_Object;
            //$('#viewerArea').html(data.Val_String);
            $('#viewerArea').load(data.Url, function () {
                $('.loader').hide();
                var titleElement = $('#title' + idHtmlDocument);
                if (titleElement.length > 0) {
                    document.title = titleElement.html();
                }

                toLoad.push({ id: idHtmlDocument, loaded: true, tagsLoaded: false });
                preLoadContent();
            });




        });

        toggleRefPanel();
    });

    function preLoadContent() {
        var contentElements = $('.ontologyItem.Content');
        $.each(contentElements, function () {

            var element = $(this);

            var name = element.attr('name');
            name = name.replace('_', '');

            var item = $.grep(toLoad, function (e) { return e.id == name });

            if (item.length == 0) {
                element.replaceWith('<div class="ontologyItem Content" name="_' + name + '"></div>')
                toLoad.push({ id: name, element: element, loaded: false, tagsLoaded: false });

            }

        });
        loadContent();
        getTags();


        //createToc();
    }
    function loadContent() {
        var contentToLoad = $.grep(toLoad, function (e) { return e.loaded == false });

        if (contentToLoad.length > 0) {
            contentToLoad[0].loaded = true;
            jQuery.getJSON("/iDoku/iDoku/GetRawHtml/" + contentToLoad[0].id, function (data) {
                var item = $.grep(toLoad, function (e) { return e.id == data.refId });
                if (item.length > 0) {
                    $('#viewerArea')
                    $('div[name="_' + item[0].id + '"]').filter('.ontologyItem.Content').load(data.html, function () {
                        preLoadContent();
                    });


                }

            });
        }

    }

    function getTags() {
        var tagsToLoad = $.grep(toLoad, function (e) { return e.tagsLoaded == false });

        if (tagsToLoad.length > 0) {
            tagsToLoad[0].tagsLoaded = true;

            //jQuery.getJSON("/iDoku/iDoku/GetTags/" + tagsToLoad[0].id, function (data) {
            jQuery.getJSON("https://www.omodules.de/OntologyModules/Resources/UserGroupRessources/74f38566eda64c76b862e839b6a8d07d/" + tagsToLoad[0].id + ".json", function (data) {
                for (var ix in data) {
                    var reference = data[ix];
                    var id = reference.Id;
                    var name = reference.Name;
                    var tags = reference.Tags;

                    var refContainer = $('#' + id);
                    if (refContainer.length == 0) {

                        var refHtml = `<button data-toggle="collapse" data-target="#{id}" class="btn btn-default btn-block"><p class ="refTitle">{name}<span id="{id}_badge" class="badge" style="margin-left:8px"></span></p></button>
                            <div id="{id}" class ="collapse tagContainer">
                            </div>`;
                        
                        refHtml = refHtml.replace('{id}', id).replace('{id}', id).replace('{name}', name).replace('{id}', id);
                        var refContainer = $(refHtml);
                        $('#refPanel').append(refContainer);
                    }

                    var tagContainer = $('#' + id);

                    addTags(tagContainer, tags, ix);
                    $('#' + id + '_badge').html($('#' + id).find('label').length)
                }

                $('.refPanel').css('overflow-y', 'auto');
                $('.refPanel').css('overflow', 'auto');
                refPanelHeadHeight = 90;
                $('.refPanel').css('height', window.innerHeight - refPanelHeadHeight);
            });
        }

    }

    $(window).scroll(function () {
        $(".topPanel").stop().animate({ "marginTop": ($(window).scrollTop()) + "px", "marginLeft": ($(window).scrollLeft()) + "px" }, "slow");
    });

    $(window).resize(function () {
        $('.refPanel').css('height', window.innerHeight - refPanelHeadHeight);
    });


    function addTags(tagContainer, tags, tagType) {
        for (var ix in tags) {
            var tag = tags[ix];
            if (meta.content != "") {
                meta.content += ",";
            }
            meta.content += tag.NameTag;
            if ($('#' + tag.IdTag).length == 0) {
                var label = $('<label id="lbl' + tag.IdTag + '" style="margin-right:1px"></label>');
                var input = $('<input id="' + tag.IdTag + '" type="checkbox" class="tagCheckLink" name="tagCheckLink" data-idtag="' + tag.IdTag + '" data-nametag="' + tag.NameTag + '" data-tagtype="' + tagType + '"></input>');
                var buttonDiv = '';

                if (tag.RefUrl != '') {
                    buttonDiv = $('<div class="checkbox btn">' + '<a target="_blank" href="' + tag.RefUrl + '" style="margin-left:5px;margin-right:5px"><i class="fa fa-external-link fa-lg refLink" aria-hidden="true"></i></a>' + tag.NameTag + '</div>');
                }
                else {
                    buttonDiv = $('<div class="checkbox btn">' + tag.NameTag + '</div>');
                }

                label.append(input);
                label.append(buttonDiv)
                $(tagContainer).append(label);



                $('.tagCheckLink').change(function () {
                    markOrUnmarkTag($(this));
                });
            }

        }
    }

    function markOrUnmarkTag(checkBox) {

        var selected = {
            tag: checkBox.attr('data-idtag'),
            name: checkBox.attr('data-nametag'),
            tagType: checkBox.attr('data-tagtype'),
            selector1: '[name="_' + checkBox.attr('data-idtag') + '"]',
            selector2: '[name="' + checkBox.attr('data-idtag') + '"]',
            checked: checkBox[0].checked
        };

        if (lastSelection != undefined) {
            if (lastSelection.tag == selected.tag && lastSelection.checked == selected.checked) return;
        }

        if (selected.checked) {
            var toSelect = $(selected.selector1);
            if (toSelect.length > 0) {

                if (selected.tagType == '0') {
                    toSelect.html('<i class="fa fa-bookmark fa-2x" aria-hidden="true" style="margin:10px"></i>' + selected.name + '<i class="fa fa-bookmark fa-2x" aria-hidden="true" style="margin:10px"></i>')
                } else {
                    toSelect.html('<i class="fa fa-at fa-2x" aria-hidden="true" style="margin:10px"></i>' + selected.name + '<i class="fa fa-at fa-2x" aria-hidden="true" style="margin:10px"></i>')
                }

                toSelect.css('background-color', 'yellow')

                $('html, body').animate({
                    scrollTop: toSelect.offset().top
                }, 100);
            }

        } else {
            var toSelect = $(selected.selector2);
            if (toSelect.length > 0) {
                toSelect.html('')
                toSelect.css('background-color', '')

                //$('html, body').animate({
                //    scrollTop: toSelect.offset().top
                //}, 100);
            }
        }



        if (selected.checked) {
            var toSelect = $(selected.selector2);
            if (toSelect.length > 0) {
                if (selected.tagType == '0') {
                    toSelect.html('<i class="fa fa-bookmark fa-2x" aria-hidden="true" style="margin:10px"></i>' + selected.name + '<i class="fa fa-bookmark fa-2x" aria-hidden="true" style="margin:10px"></i>')
                } else {
                    toSelect.html('<i class="fa fa-at fa-2x" aria-hidden="true" style="margin:10px"></i>' + selected.name + '<i class="fa fa-at fa-2x" aria-hidden="true" style="margin:10px"></i>')
                }
                toSelect.css('background-color', 'yellow')

                $('html, body').animate({
                    scrollTop: toSelect.offset().top
                }, 100);
            }

        } else {
            var toSelect = $(selected.selector2);
            if (toSelect.length > 0) {
                toSelect.html('')
                toSelect.css('background-color', '')

                //$('html, body').animate({
                //    scrollTop: toSelect.offset().top
                //}, 100);
            }
        }

        lastSelection = selected;
    }
</script>
<div class="loader"></div>
<div class="contentIndex"></div>
<div class="topPanel noprint">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <button class="btn btn-default btn-xs pull-left slide-button"><></button>
            <h3 class="panel-title">Referenzen</h3>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" style="max-height: 800px;overflow-y: scroll;">
            <div class="panel-group" id="refPanel">
                
            </div>
            

        </div>
        
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div id="viewerArea" class="A4"></div>            
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
</div>

