﻿@model IDoku.Models.IDokuViewModel

@{
    Layout = null;
}

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .jqx-layout-group-auto-hide-content-vertical {
        width: 200px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background: url(/Images/iStock-529671712.jpg) no-repeat center top fixed;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: cover;
    }

    /*Container, container body, iframe*/
    .mce-tinymce, .mce-container-body, #code_ifr {
        min-height: 95% !important;
    }

    #mceu_58 {
        min-height: unset !important;
    }

    /*Container body*/
    .mce-container-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
        /*Editing area */
        .mce-container-body .mce-edit-area {
            position: absolute;
            top: 69px;
            bottom: 37px;
            left: 0;
            right: 0;
        }
    /*Footer*/
    .mce-tinymce .mce-statusbar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

        /* The navigation menu links */
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover, .offcanvas a:focus {
                color: #f1f1f1;
            }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    .closeButton {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 18px;
        height: 18px;
        font-size: 8px;
    }

    .sideBarItem {
        width: 100%;
    }

    .panel-default {
        background-color: #131314;
        margin: 5px;
        margin-top: 35px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }

    .padding1 {
        padding: 15px;
    }

    .A4 {
        background: white;
        width: 21cm;
        /*height: 29.7cm;*/
        display: block;
        margin: 0 auto;
        padding: 10px 25px;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        overflow: hidden;
        box-sizing: border-box;
        font-size: 12pt;
    }

    @@media print {
        .page-break {
            display: block;
            page-break-before: always;
        }

        size: A4 portrait;
    }

    @@media print {
        body {
            margin: 0;
            padding: 0;
        }

        .A4 {
            box-shadow: none;
            margin: 0;
            width: auto;
            height: auto;
        }

        .noprint {
            display: none;
        }

        .enable-print {
            display: block;
        }
    }
</style>


<script src="~/scripts/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        jQuery.getJSON("/IDoku/GetHtml/@(Model.IdRef)", function (data) {
            $('#viewerArea').html(data.Val_String);
        });
    });
</script>
<div id="viewerArea" class="A4 padding1"></div>
